.App {
  margin: 40px 0 0 20px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 100px;
  margin: 0 0 40px 58px;
}

.play-button {
  height: 40px;
  width: 100px;
}

.bpm {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bpm-slider-box {
  margin-top: 3px;
}

/* Tracks */
.row-container {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 55px;
}

.select-container {
  width: 150px;
  text-align: right;
}

.select {
  height: 45px;
}

.row {
  clear: both;
  display: flex;
}

.new-track-button {
  width: 1056px;
}


/* Pads */
.pad {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 5px 5px 0;
  cursor: pointer;

  background:rgba(129,128,128,1);
}

.pad.active {
  background: rgba(25,118,210,255);
}

.pad.playing {
  background: rgb(255, 190, 133);
}
.pad.active.playing {
  background:rgb(252, 95, 37);
}
