/* AUTH */
.auth-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}
.auth-container h1 {
  font-size: 60px;
}

.auth-form-container {
  display: flex;
  justify-content: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
}

.auth-form > * {
  width: 350px;
}

/* DASHBOARD */


/* Loop list */
.loop-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  overflow-y: overlay;
  margin-top: 60px;
  padding-left: unset;
}

.loop-info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.loop-details-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.loop-list-item:hover > .loop-delete-button {
  opacity: 1;
  fill: white;
}

.loop-delete-button {
  transition: 0.2s ease;
  pointer-events: auto;
}

.no-loops-message-container {
  text-align: center;
  font-size: 14px;
  width: 400px;
}


/* SEQUENCER */

/* Controls */
.controls {
  position: sticky;
  top: 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px 15px 50px;
}


.play-button-inner-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 13px;
}

.slider-box {
  margin-top: 7px;
}

#grid-size-controls {
  min-width: 308px;
  text-align: center;
}
#grid-size-controls p {
  margin: unset;
}

#bpm-controls {
  min-width: 288px;
}


/* Tracks and pads */
.pads-container {
  overflow: hidden;
  padding: 10px 0 15px 5px;
  margin-right: 20px;
}

/* .pads-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.pads-container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
.pads-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
} */

.pads-container:hover {
  overflow-x: overlay;
}


/* Tracks */
.row-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.delete-icon-container {
  display: flex;
  align-items: center;
}

.sound-selector-container {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 320px;
}

.select-container {
  width: 150px;
  text-align: right;
}

.select {
  height: 45px;
}

.track-control-container {
  min-width: 194px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volume-knob:active {
  cursor: grabbing;
}

.pan-slider-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  gap: 10px;
  margin: 0 20px 0 12px;
}

.mute-solo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.row {
  clear: both;
  display: flex;
  padding-right: 10px;
}


/* Pads */
.pad {
  height: 60px;
  float: left;
  margin: 2.5px;
  cursor: pointer;
  background:rgb(129 128 128 / 48%);
  border-radius: 10px;
  border: solid 2px black;
  transition: 0.1s ease;

}
.pad:hover {
  background:rgb(111, 111, 111);
}

.pad.active {
  background: #d81a60;
}
.pad.active:hover {
  background: rgb(179, 20, 78);
}

.pad.playing {
  background:#618456;
}
.pad.active.playing {
  background:#22710d;
}

.pad.disabled {
  cursor: default;
}



::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}