.App {
  margin: 40px 0 0 40px;
}

.row {
  clear: both;
}

.pad {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 5px 5px 0;
  cursor: pointer;
  background: grey;
}

.pad.active {
  background: green;
}

.pad.playing {
  background: silver;
}
.pad.active.playing {
  background: lime;
}

.pad-and-names-container {
  display: flex;
  gap: 20px;
}

.names-container {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}