.mainContainer {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.newLoopButton {
  height: 40px;
  width: 700px;
  text-align: center;
  text-transform: uppercase;
}