.mainContainer {
  z-index: 5;
  position: sticky;
  top: 0;
  background-color: rgb(220 220 220);
  height: 100px;
}

.mainContainerDark {
  background-color: rgb(35, 35, 35);
}

.mainContainerSmall {
  height: 60px;
}